<!DOCTYPE html>
<html lang="en">
<head>
    <link href="mycss" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>

<div style="height: 200px;width: 100%;background: aqua">
    <h1 style="">{{ hello }}</h1>
</div>
<div style="float:left;height: 600px;width: 80%;background: green"></div>
<div style="float:left;height: 600px;width: 20%;background: gray">
    <ul>
    <li>测试</li>
    <li>测试</li>
    <li>测试</li>
</ul>
</div>




<div style="background:#00ff00"></div>

</body>
</html>